.header {
    background: #24292e;
    color: rgba(255,255,255,0.75);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.header-title {
    font-size: 1.3em;
    padding: 0 10px;
    /* Reset Boostrap Style */
    margin: 0;
}
.header-subtitle {
    font-size: 1em;
    /* Reset Boostrap Style */
    margin: 0;
}
